.forecasts {
    position: relative;
    background: #000;
    height: 49.313rem;
    padding-top: 3.125rem;
    padding-bottom: 8.375rem;
    &_content {
        &_case {
            display: flex;
            align-items: center;
            justify-content: center;
            &_text {
                color: $green-2;
            }
            &_img {
                transform: translate(90%, -40%);
            }
        }
        &_descr {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 8.125rem;
            padding-right: 9.375rem;
            &_info {
                &_text {
                    margin-top: 1.313rem;
                }
            }
            &_img {
                width: 36.438rem;
                height: 26.875rem;
                z-index: 4;
            }
        }
        &_block-1 {
            position: absolute;
            top: 28.6%;
            left: 45.2%;
            z-index: 1;
            width: 36.438rem;
            height: 26.875rem;
            border: 2px solid $sub-elem-color;
            background: $sub-elem-color-2;
        }
        &_block-2 {
            position: absolute;
            top: 29.4%;
            left: 45.45%;
            z-index: 2;
            width: 36.438rem;
            height: 26.875rem;
            border: 2px solid $sub-elem-color;
            background: $green-3;
        }
        &_block-3 {
            position: absolute;
            top: 30.2%;
            left: 45.8%;
            z-index: 3;
            width: 36.438rem;
            height: 26.875rem;
            border: 2px solid $sub-elem-color;
            background: $green-1;
        }
    }
}