.header {
    padding: 1rem 7.5rem;
    background: $sub-elem-color;
    &_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_nav {
            display: flex;
            justify-content: space-evenly;
            width: 60.438rem;
            &_item {
                color: #fff;
                transform: translateY(25%);
                transition: 0.5s all;
                &:hover {
                    color: #B0B0B0;
                    text-decoration: none;
                }
            }
            &_btn {
                transition: 0.5s all;
                &:hover {
                    box-shadow: 0 0 30px $green-2;
                }
            }
            &_btn-2 {
                transition: 0.7s all;
                &:hover {
                    color: #fff;
                    background: $sub-elem-color;
                    box-shadow: 0 0 30px $green-2;
                }
            }
        }
    }
}