.text {
    font-family: 'IBM Plex Sans';
    font-weight: 700;
    font-size: 1.063rem;
    line-height: 1.563rem;
    color: #A9B0BE;
    &__weight-n {
        font-weight: 400;
    }
    &__size-m {
        font-size: 1.313rem; /*21px*/
    }
}